{
  "extends": ["eslint-config-umi", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "max-len": ["error", { "code": 120 }]
  }
}
